nav{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}
.text-orange{
   color:rgb(255, 115, 0) ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
   list-style: none;
   margin-right: 60px;
  
}
nav a{
    text-decoration: none;color: rgb(58, 55, 55);
}
.btn-color{
   border-radius: 5px;
 background-color: rgba(255, 81, 6, 0.747);
 border:0 ;
 font-size: 20px;
 font-size: 700;
 color: white;
}
.header{
   background-color: rgb(245, 240, 236);
}
.banner{
  padding: 40px 30px 30px 50px;
 display: flex;
 align-items: center;
}
.banner .pro{
    width: 200px;
}
