/*share style*/
.section-title{
    color: #181818; text-align: center; font-size: 35px;
    font-weight: 700px;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 20px;
}

/*share style*/
nav{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}
.text-orange{
   color:rgb(255, 115, 0) ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
   list-style: none;
   margin-right: 60px;
  
}
nav a{
    text-decoration: none;color: rgb(58, 55, 55);
}
.btn-color{
   border-radius: 5px;
 background-color: rgba(255, 81, 6, 0.747);
 border:0 ;
 font-size: 20px;
 font-size: 700;
 color: white;
}
.header{
   background-color: rgb(245, 240, 236);
   background-image: url(/images/header_bg.png) ;
   background-repeat: no-repeat;
   background-size:300px ; background-position: bottom right ;

}

.banner-elements{
    max-width: 500px;
}
.banner{

 display: flex;
 align-items: center;
 margin: 0px 10px 0 100px;
 justify-content:space-between;

}
.info-title{
    text-align: center;
}


.banner .pro{
    width: 200px;
   
}
.heading{
    margin-top:-10px;
    margin-bottom: -10px;
}
/*main section style*/

main{
 max-width: 600px;
 margin: auto;
}
/*about section style*/
.about{
    padding: 2px;
   background-color: rgb(243, 239, 234);
   border-radius: 5px;
   margin-top: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.section-description{
    padding: 10px 50px;
}
.what-i-do{
    background-color: rgb(245, 234, 220);
}
.skills-container{
    display: flex;
    justify-content: space-between;
    gap:20px ;
}
.skill{
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 1px 35px 0px;
   
}
.resume-bg{
    background-color:rgb(246, 240, 234);
    border-radius: 5px;
}
.resume-colum-titl{
color: #757575; 


}
.resume-container{
    display: flex;
    gap: 50px;
}

.resume-item-instute,.resume-item-description{
    color: #3a3838;
}
.resume-container hr{
    margin: 20px;
}
.download{
    text-align: center;
    margin: 30px;
}
footer{
    display: flex;background-color: rgb(247, 236, 222); padding: 30px 30px; margin-top: 100px;
    gap: 60px;
}
.footer-column{
    width: 50%;
}


.input-container input[type="text"] ,.input-container[type="email"] ,textarea{ display: block;
margin: 50px;
border: 0;
background-color: white;
width: 100%;
}
.link-icon a{
    margin-left: 30px;

}
    